logLevel = "DEBUG"

[entryPoints]
[entryPoints.http]
  address = ":80"
[entryPoints.https]
  address = ":443"

[web]
address = ":8080"

[consulCatalog]
prefix      = "{{ traefik_prefix }}"
constraints = [{{ traefik_consul_tags|map('regex_replace', '(.*\S.*)', '"tag==\g<1>"')|join(',') }}]

# Matching with containers having this tag: "<prefix>.tags=api,helloworld"
