{
  "service": {
    "name": "nomad_exporter",
    "tags": [
      "monitor-nomad",
      "prom_cluster_name={{ prom_cluster_name }}",
      "prom_role_name={{ prom_role_name }}"
    ],
    "port": 9172
  }
}
