job "svc-example" {
  datacenters = ["{{ nomad_dc_name }}"]
  type = "service"

  update {
    max_parallel = 1
    stagger = "30s"
  }

  group "microservices" {
    count = {{ nomad.svc_example.count }}

    restart {
      attempts = 10
      delay = "10s"
      interval = "5m"
      mode = "delay"
    }

    task "svc-example" {
      driver = "docker"

      config {
        image = "{{ aws_account_id }}.dkr.ecr.{{ target_region }}.amazonaws.com/bootstrap-nomad:service"
        force_pull = true
        port_map {
          web = 8080
        }
        dns_servers = ["172.17.0.1"]
      }

      service {
        port = "web"
        tags = [
          "traefik.frontend.entrypoints=http,https",
          "traefik.frontend.rule=Host:example.{{ dns_public_domain }}",
          "traefik.tags=public"
        ]
      }

      resources {
        cpu    = {{ nomad.svc_example.cpu }} # MHz
        memory = {{ nomad.svc_example.memory }} # MB
        network {
          mbits = 10
          port "web" {
            static = "11201"
          }
        }
      }

      vault {
        policies = ["nomad-jobs"]
      }

      env {
        "NODE_ENV" = "{{ node_env }}"
        "NODE_PREFIX" = "{{node_prefix }}"
        "NODE_DEBUG" = "{{ node_debug }}"
        "VAULT_ADDR" = "{{ vault_addr }}"
      }
    }
  }
}
