{
  "service": {
    "name": "cadvisor_exporter",
    "tags": [
      "monitor-cadvisor",
      "prom_cluster_name={{ prom_cluster_name }}",
      "prom_role_name={{ prom_role_name }}"
    ],
    "port": 9102
  }
}