{
  "service": {
    "name": "node_exporter",
    "tags": [
      "monitor-node",
      "prom_cluster_name={{ prom_cluster_name }}",
      "prom_role_name={{ prom_role_name }}"
    ],
    "enableTagOverride": false,
    "check": {
        "interval": "10s",
        "timeout": "1s"
    },
    "port": 9100
  }
}
