---
global:
  scrape_interval: {{ prom_nomad_cfg_evaluation_interval }}
  evaluation_interval: {{ prom_nomad_cfg_scrape_interval }}

  external_labels:
    monitor: 'prometheus-master'

# Load rules once and periodically evaluate them according to the global 'evaluation_interval'.
rule_files:
  # - "first.rules"
  # - "second.rules"

scrape_configs:
  - job_name: node_exporters
    consul_sd_configs:
      - server: 'localhost:8500'
    relabel_configs:
      - source_labels: [__meta_consul_tags]
        regex: .*,monitor-node,.*
        action: keep

      - source_labels: [__meta_consul_service]
        target_label: job

      - source_labels: [__meta_consul_node]
        target_label: node

      - source_labels: [__meta_consul_node]
        target_label: inventory_hostname

      - source_labels: [__meta_consul_tags]
        regex: '.*,prom_cluster_name=([^,]+),.*'
        replacement: '${1}'
        target_label: prom_cluster_name

      - source_labels: [__meta_consul_tags]
        regex: '.*,prom_role_name=([^,]+),.*'
        replacement: '${1}'
        target_label: prom_role_name

  - job_name: nomad_exporters
    consul_sd_configs:
      - server: 'localhost:8500'
    relabel_configs:
      - source_labels: [__meta_consul_tags]
        regex: .*,monitor-nomad,.*
        action: keep

      - source_labels: [__meta_consul_service]
        target_label: job

      - source_labels: [__meta_consul_node]
        target_label: node

      - source_labels: [__meta_consul_node]
        target_label: inventory_hostname

      - source_labels: [__meta_consul_tags]
        regex: '.*,prom_cluster_name=([^,]+),.*'
        replacement: '${1}'
        target_label: prom_cluster_name

      - source_labels: [__meta_consul_tags]
        regex: '.*,prom_role_name=([^,]+),.*'
        replacement: '${1}'
        target_label: prom_role_name
