job "metrics-nomad" {
  datacenters = ["{{ nomad_dc_name }}"]
  type = "system"

  group "system" {
    task "nomad-exporter" {
      driver = "docker"
      config {
        image = "{{ aws_account_id }}.dkr.ecr.{{ target_region }}.amazonaws.com/nomad-exporter:{{ docker_tag }}"
        # image = "nomon/nomad-exporter:latest"
        force_pull = true
        port_map {
          nomad = 9172
        }
        network_mode = "host"
        # auth { helper = "" }
      }

      service {
        port = "nomad"
        tags = ["prometheus", "nomad-exporter"]
        # check {
        #   name = "alive"
        #   port = "nomad"
        #   type = "tcp"
        #   interval = "10s"
        #   timeout = "2s"
        # }
      }

      resources {
        cpu = 100
        memory = 100
        network {
          mbits = 10
          port "nomad"  {}
        }
      }
    }
  }
}
