job "metrics-cadvisor" {
  datacenters = ["{{ nomad_dc_name }}"]
  type = "system"

  group "system" {
    task "cadvisor" {
      driver = "docker"
      config {
        image = "google/cadvisor:latest"
        force_pull = true
        port_map {
          cadvisor = 8080
        }
        auth { helper = "" }
      }
      service {
        port = "cadvisor"
        tags = ["prometheus", "cadvisor"]
        check {
          type = "http"
          path = "/"
          interval = "10s"
          timeout = "2s"
        }
      }
      resources {
        cpu = 100
        memory = 32
        network {
          mbits = 100
          port "cadvisor" {
            static = "9102"
          }
        }
      }
    }
  }
}
