
[nomad-masters]
{% for instance in all_terraform_outputs.nomad_masters_instances.value %}
nomad-master-{{ loop.index0 }}
{% endfor %}

[nomad-servers-bootstrap:children]
nomad-masters

[consul-servers-bootstrap:children]
nomad-masters
